.jumbotron {
  background: rgb(255, 255, 255);
  background: linear-gradient(175deg, rgb(153, 115, 223) 4%, rgb(24, 18, 105) 51%);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer {
  text-align: center;
  font-size: large;
  color: rgb(255, 255, 255);
  height: 40px;
  width: 100%;
  background-color: rgb(78, 12, 122);
  position: fixed;
  bottom: 0;
  left: 0;
}

body {
  background-color: rgb(98, 3, 187);
  color: aliceblue;
}

.navBtn {
  margin-left: 5%;
  border: 3px solid black;
  background-color: blue;
  padding: 5px;
}

li a {
  color: chartreuse;
}